<h1>Stories</h1>
<div class="row">
    {{!-- {{{author}}} --}}
    {{#if stories}}
        {{#each stories}}
            <div class="col s12 m4">
                <div class="card">

                    
                    <div class="card-image">
                        {{{editIcon this.author ../this.auth _id}}}               
                        {{!-- 
                            Note: editIcon takes these parameters:
                                1- all users of public stories.         (user) from the stories loop.
                                2- loggedIn user                        (../user) one level up to get the loggedIn user
                                3- storyId                              (_id) it's attached to the user in loop (of stories)
                                4- floating (which has default value)
                        --}}
                    </div>

                    <div class="card-content center-align">
                        <h5>{{title}}</h5>
                        {{!-- pass helpers before the element to apply on --}}
                        {{!-- To use more than one helper we need to add parentheses to body --}}
                        {{!-- NOTE: truncate takes another parameter (len) so we need to put it after body --}}
                        <p>{{stripTags (truncate body 200)}}</p>
                        {{!-- <p>{{stripTags (truncate body 150)}}</p> --}}

                        {{!-- <p>
                            {{truncate
                            (stripTags body) 150}}
                        </p> --}}
                        <br>
                        <div class="chip">
                            <img src="{{author.image}}" alt="">
                            <a href="/stories/user/{{author._id}}">{{author.displayName}}</a>
                        </div>
                    </div>
                    
                    <div id="footer-card">
                        <div class="card-action center-action" id="first">
                            <a href="/stories/{{_id}}" class="btn grey">Read More</a>  {{!-- The id of the story --}}
                        </div>
                        <div class="card-action center-action" id="second">
                            <a href="/like/{{_id}}" class="btn like-button grey">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                    </div>
    
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No Stories to display</p>
    {{/if}}
</div>