<h1>Liked Stories</h1>
<div class="row">
    {{!-- {{{author}}} --}}
    {{#if stories}}
        {{#each stories}}
            <div class="col s12 m4">
                <div class="card">

                    
                    <div class="card-image">
                        {{{editIcon this ../this.auth this}}}               
                        {{!-- 
                            Note: editIcon takes these parameters:
                                1- all users of public stories.         (user) from the stories loop.
                                2- loggedIn user                        (../user) one level up to get the loggedIn user
                                3- storyId                              (_id) it's attached to the user in loop (of stories)
                                4- floating (which has default value)
                        --}}
                    </div>

                    <div class="card-content center-align">
                        <h5>{{getStoryTitle this}}</h5>
                        {{!-- pass helpers before the element to apply on --}}
                        {{!-- To use more than one helper we need to add parentheses to body --}}
                        {{!-- NOTE: truncate takes another parameter (len) so we need to put it after body --}}
                        <p>{{stripTags (truncate this 200)}}</p>

                        <br>
                        {{!-- <h1>{{ getAuthNameFromStory this}}</h1> --}}
                        <div class="chip">
                            <img src={{getUserImageFromStory this}} alt="">
                            <a href="/stories/user/" + {{getAuthNameFromStory this}}>{{getAuthNameFromStory this}}</a>
                        </div>
                    </div>
                    
                    <div id="footer-card">
                        <div class="card-action center-action" id="first">
                            <a href="/stories/" + {{this._id}} class="btn grey">Read More</a>  {{!-- The id of the story --}}
                        </div>
                        <div class="card-action center-action" id="second">
                            <a href="/like/" + {{this._id}} class="btn like-button grey" id="like">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                    </div>
    
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>You don't have any likes yet.</p>
    {{/if}}
</div>