<h3>{{displayName}}'s  Stories</h3>
<div class="row">
    {{#if stories}}
        {{#each stories}}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        {{{editIcon this ../this.auth this}}}               

                    </div>
                    <div class="card-content center-align">
                        <h5>{{ truncateTitle this 18 }}</h5>
        
                        <p>{{stripTags (truncate this 200)}}</p>
                
                        <br>
                        <div class="chip">
                            <img src="{{getUserImageFromStory this}}" alt="">
                            <a href="/stories/user/{{getUserId this}}">{{getAuthNameFromStory this}}</a>
                        </div>
                    </div>
                    <div id="footer-card">
                        <div class="card-action center-action">
                            <a href="/stories/{{_id}}" class="btn grey">Read More</a>  {{!-- The id of the story --}}
                        </div>
                        <div class="card-action center-action" id="second">
                            <form action="/stories/like/{{getStoryId this}}" method="POST">
                                {{!-- <input type="hidden" name="storyId" value="{{storyId}}"> --}}
                                <button type="submit" class="btn like-button {{getHeartColor ../this.auth this}}">
                                <i class="fas fa-heart"></i>
                                </button>
                            </form>
                        </div>  
                    </div>
                    
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No Stories to display</p>
    {{/if}}
</div>